a {
    color:#495057;
}
a:hover{
    text-decoration: none;
}
#header{
    color: #fff;
    background: #000000;
    padding: 10px;
}
#header .logo{
    width:50px;
}
#top-bar
{
    padding: 10px;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    color:#fff;
    padding: 15px 10px;
    display: block;
}
#menu li a:hover{
    background-color: gray;
}
#slider img{
    height:750px;
}

#slider-bottom{
    color: #fff;
    background: #000000;
    padding: 20px;
}

#home-box1{
    padding: 100px;
}
#home-box1 .row .col-md-3:first-child{
    border: 0px;
}
#home-box1 .row .col-md-3{
    border-left: solid 1px #240d0d ;
    padding:10px;
}
#home-box1 .row .col-md-3:hover{
    border-left: solid 1px #240d0d ;
    background-color: #d9d9d9;
}

#home-box2{
    padding: 100px;
    background-color: #d9d9d9;
}
#home-box2 h5{
    font-size: 2rem;
    margin-bottom: 50px;
}
#home-box2 .tab-content{
    border: solid 1px #cccccc;
    padding: 50px;
    border-radius: 10px;
}

#home-box3{
    padding: 100px;
}
#home-box3 h5{
    font-size: 2rem;
    margin-bottom: 50px;
    color: #27387E;
}
#home-box3 .sml_border0{
    margin-top: 50px;
}
#home-box3 .sml_border0 .sml_border{
    border: solid 1px #cccccc;
    padding: 50px;
    border-radius: 100px;
}
#home-box3 .sml_border0 .sml_border2{
    margin-top: 50px;
}

#home-box3 .sml_border0 .sml_border0{
	transform: rotateY(0deg);
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
#home-box3 .sml_border0 .sml_border0:hover{
	transform: rotateY(365deg);
}

#home-box4{
    background: #27387E;
    padding: 100px;
}

#home-box4 h5{
    font-size: 2rem;
    margin-bottom: 50px;
    color: white;
}
#home-box4 .img1{
    width:100%;
    border-radius: 10px;
}
#home-box4 .img1:hover{
    transform:scale(2.5);
}

#home-box5{
    color: #27387E;
    background: #fff;
    padding: 100px;
}
#home-box5 h5{
    font-size: 2rem;
}

#home-box5 .item{
    margin-top: 30px;
    height: 250px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #27387E;
    border-radius: 15px;
}
#home-box5 .item .item1{
    color:white;
    font-size: 1.5rem;
    margin: 15px;
}
#home-box5 .item .item2{
    color:white;
    margin: 15px;
}
#home-box5 .item .item3{
    color:white;
    font-size: 1.5rem;
    margin: 15px;
}
#home-box5 .item .button{
    background-color: white;
    border: 0px;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.5rem;
    margin: 15px;
}


#home-box6{
    background: #27387E;
    padding: 100px;
}

#home-box6 h5{
    font-size: 2rem;
    margin-bottom: 50px;
    color: white;
}
#home-box6 .item img{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#home-box6 .item{
    background-image: url(../images/2.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 15px;
}
#home-box6 .item h4{
    --background-overlay: '';
    background-color: #9f9f9fad;
    height: 200px;
    width: 100%;
    border-radius: 15px;
}
#home-box6 .item .button{
    background-color: white;
    border: 0px;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.5rem;
    margin: 15px;
    margin-top: -125px;
}


#home-box7{
    color: #27387E;
    background: #fff;
    padding: 100px;
}
#home-box7 h5{
    font-size: 2rem;
}

#home-box7 .item{
    margin-top: 30px;
}
#home-box7 .item img{
    border-radius: 15px;
}

#home-box8{
    color: white;
    background: #27387E;
    background-image: url('../images/priceList-pattern.png');
    padding: 100px;
}

#home-box8 h5{
    font-size: 2rem;
    margin-bottom: 50px;
    color: white;
}
#home-box8 ul li{
    margin: 10px;
}

#home-box9{
    color: white;
    background: #27387E;
    padding: 100px;
}

#home-box9 h5{
    font-size: 2rem;
    margin-bottom: 50px;
    color: white;
}
#home-box9 ul li{
    margin: 10px;
}
